<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Date</th>
    <th>Organizer Name</th>
  </tr>

  <%@events.each do |event| %>
    <tr id = "<%= event.id %>">
      <td><%=event.title%></td>
      <td><%=event.location%></td>
      <td><%=event.date%></td>
      <td><%=event.host.username%></td>
      <% if current_user == event.host %>
        <td><button class="edit_button">edit</button></td>
        <td><button class="delete_button">delete</button></td>
        <tr class="edit_form" style = "display:none">
          <td><input type="text" value="<%=event.title%>"></td>
          <td><input type="text" value="<%=event.location%>"></td>
          <td><input type="text" value="<%=event.date%>"></td>
          <td><input type="text" value="<%=event.host.username%>" disabled></td>
          <td><button class="save_button">save</button></td>
        </tr>
      <% end %>
    </tr>
  <%end %>
</table>


